.header__logo{
    float: inline-start;
    width: 2.5cm;

.menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content:center; 
    text-decoration: none;  
.nav__items{
        padding: 1rem;
    }
     }
      }